.mo-btn-xs {
    padding: 3px 6px;
    border-radius: 5px;
    text-align: center;
    font-size: .9em;
}

.mo-btn-sm {
    padding: 6px 9px;
    border-radius: 5px;
    text-align: center;
    font-size: .9em;
}

.mo-btn {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.08em;
}


.mo-btn-md {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

.mo-btn-lg {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8em;
}

.mo-btn-xl {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 2.1em;
}

