.mo-container{
    display: flex;
    height: 100%;
    width: 100%; 
}

.mo-row{
    flex-direction: row;
    
}
.mo-col{
    flex-direction: column;
}

.mo-d-row{
    flex-direction: row;
}

.mo-d-col{
    flex-direction: column;
}

.mo-justify-content{
    justify-content:center;
}