.mo-input-xs {
    padding: 3px 6px;
    border-radius: 5px;
    text-align: center;
    font-size: .9em;
    box-sizing: border-box;
}
.mo-input-xs:focus {
    outline: none;
    border-color: $primary-color;
}


.mo-input-sm {
    padding: 6px 9px;
    border-radius: 5px;
    text-align: center;
    font-size: .9em;
    box-sizing: border-box;
}
.mo-input-sm:focus {
    outline: none;
    border-color: $primary-color;
}


.mo-input {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.09em;
    box-sizing: border-box;
}
.mo-input:focus {
    outline: none;
    border-color: $primary-color;
}


.mo-input-md {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    box-sizing: border-box;
}
.mo-input-md:focus {
    outline: none;
    border-color: $primary-color;
}


.mo-input-lg {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
}
.mo-input-lg:focus {
    outline: none;
    border-color: $primary-color;
}


.mo-input-xl {
    padding: 9px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8em;
    box-sizing: border-box;
}
.mo-input-xl:focus {
    outline: none;
    border-color: $primary-color;
}

