
$primary-color: #1251fe;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;

$custom-color-1: #6d7f97;
$custom-color-2: #9c27b0;
$custom-color-3: #ff5722;

$white-color: #f3f3f3;






